# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [ ]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [ ]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
last_three = a[3:6]
print(last_three)

In [ ]:
# create a list of numbers from 1 to 20
_1_to_20 = list(range(1,21))
print(_1_to_20)

In [ ]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
even_nums = [x for x in range(1,101) if x%2 == 0]
print(even_nums)

In [ ]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second

# Assuming correct input
def divide_by_second(x, y):
    return x/y

print(divide_by_second(1,2))

In [ ]:
# write a function that takes a string as input
# and return that string in all caps

# Assuming correct input
all_caps = lambda x: x.upper()
print(all_caps('hello world'))

In [ ]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for i in range(1,31):

    if i % 3 == 0 and i % 5 == 0:
        print('fizzbuzz')
    elif i % 3 == 0:
        print('fizz')
    elif i % 5 == 0:
        print('buzz')

In [ ]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

menu_pricing = {'Gyro': 9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}
print(menu_pricing)

In [ ]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd

df = pd.read_csv('../data/starbucks.csv')
type(df)
df.head()

In [ ]:
# output the calories, sugars, and protein columns only of every 40th row. 
df.iloc[::40,[3,11,12]]

In [ ]:
# select all rows with more than and including 400 calories
df[df["calories"] >= 400]

In [ ]:
# select all rows whose vitamin c content is higher than the iron content
df[df["vitamin c"] > df["iron"]]

In [ ]:
# create a new column containing the caffeine per calories of each drink
df["caffeine per calorie"] = df["caffeine"]/df["calories"]
df.head()

In [ ]:
# what is the average calorie across all items?
df["calories"].mean()

In [ ]:
# how many different categories of beverages are there?
len(df["beverage_category"].unique())

In [ ]:
# what is the average # calories for each beverage category?
beverage_groups = df.groupby("beverage_category")
beverage_groups["calories"].mean()

In [ ]:
# plot the distribution of the number of calories in drinks with a histogram
df["calories"].hist()

In [ ]:
# plot calories against total fat with a scatterplot
df.plot.scatter(x = "calories", y = "total fat")